/**
 * @Author liming
 * @Date 2022/9/8 16:27
 **/

.FilterMeals{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 100rem;
    /*background-color: #bfa;*/
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.InputOuter{
    position: relative;
    display: flex;
    align-items: center;
}
.SearchInput{
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 14px;
    background-color: #f2f2f2;
    padding-left: 60rem;
    outline: none;
    font-size: 32rem;
}

.SearchIcon{
    position:absolute;
    color: #aaa;
    font-size: 40rem;
    left: 10rem;
}